.page-footer {
  &--bg {
    background-image: url("../img/footer-bg.png");
    background-color: #242424;
    background-repeat: repeat-x;
  }
}

.page-footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 65px;

  min-height: 193px;
}

.page-footer__address {
  padding-right: 10px;

  min-width: 320px;
}

.page-footer__socials {
  padding-left: 10px;
  padding-right: 10px;

  width: 180px;
}

.page-footer__copyright {
  padding-left: 10px;
  width: 160px;
}

.page-footer__copyright-text {
  text-align: center;
  margin-bottom: 22px;
}


.page-footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 43px;

  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);

  &:hover,
  &:focus {
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
  }
}
